{% extends 'base.html' %}

{% block title %} Pass test page {% endblock %}

{% block content %}

    <form action="{% url 'test_answer' pk=test.id %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" hidden name="test_id" value="{{ test.id }}">
            <h4>{{ test.title }}</h4>
            <p>{{ test.description }}</p>
        </div>

        <ul>
            {% for question in questions_list %}
                <li class="mb-3">
                    <hr>
                    <input type="text" hidden name="question_id" value="{{ question.id }}">
                    <span class="pr-4">{{ question.question }}</span>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>
                            <span class="pr-5">{{ question.answer_1 }}</span>
                            <input class="form-check-input" type="checkbox" name="{{ question.id }}_answer_1_status">
                        </span>
                        <span>
                            <span class="pr-5">{{ question.answer_2 }}</span>
                            <input class="form-check-input" type="checkbox" name="{{ question.id }}_answer_2_status">
                        </span>
                        <span>
                            <span class="pr-5">{{ question.answer_3 }}</span>
                            <input class="form-check-input" type="checkbox" name="{{ question.id }}_answer_3_status">
                        </span>
                        <span>
                            <span class="pr-5">{{ question.answer_4 }}</span>
                            <input class="form-check-input" type="checkbox" name="{{ question.id }}_answer_4_status">
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
{% endblock %}