{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

    <h4>Welcome {{ user.username }}</h4>
    
    <div class="row">
        <div class="col-6">

            <ul>
                <li>
                    {% if user_profile.first_name %}
                        first name -- {{ user_profile.first_name }}
                        {% else %}
                        first name -- <span class="text-danger">please note this item</span>
                    {% endif %}
                </li>
                <li>
                    {% if user_profile.last_name %}
                        last name -- {{ user_profile.last_name }}
                        {% else %}
                        last name -- <span class="text-danger">please note this item</span>
                    {% endif %}
                </li>
                <li>
                    {% if user_profile.date_birth %}
                        date of birth -- {{ user_profile.date_birth }}
                        {% else %}
                        date of birth -- <span class="text-danger">please note this item</span>
                    {% endif %}
                </li>
                <li>
                    {% if user_profile.about_user %}
                        about -- {{ user_profile.about_user }}
                        {% else %}
                        about -- <span class="text-danger">please note this item</span>
                    {% endif %}
                </li>
                <li>
                    {% if user_profile.photo %}
                        photo -- <img width="256" height="256" src="{{ user_profile.photo.url }}" alt="user">
                        {% else %}
                        photo -- <span class="text-danger">please note this item</span>
                    {% endif %}
                </li>
            </ul>
        
            <form action="{% url 'updateprofile' pk=user.id %}" method="POST" class="col-12 col-md-8 mb-5"
                enctype="multipart/form-data">
                {% csrf_token %}
        
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control form-control-sm"
                           placeholder="{% if user_profile.first_name %}{{ user_profile.first_name }}{% else %}first name{% endif %}"
                           value="{% if user_profile.first_name %}{{ user_profile.first_name }}{% endif %}"
                    >
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" class="form-control form-control-sm"
                           placeholder="{% if user_profile.last_name %}{{ user_profile.last_name }}{% else %}last name{% endif %}"
                           value="{% if user_profile.last_name %}{{ user_profile.last_name }}{% endif %}"
                    >
                </div>
                <div class="form-group">
                    <input type="date" name="date_birth" class="form-control form-control-sm"
                           placeholder="{% if user_profile.date_birth %}{{ user_profile.date_birth }}{% else %}date of birth{% endif %}"
                           value="{% if user_profile.date_birth %}{{ user_profile.date_birth|date:'Y-m-d' }}{% endif %}"
                    >
                </div>
                <div class="form-group">
                    <textarea name="about_user" class="form-control form-control-sm" cols="3" rows="5"
                              placeholder="{% if user_profile.about_user %}{{ user_profile.about_user }}{% else %}tell about yourself{% endif %}"
                    >
                    {% if user_profile.about_user %}{{ user_profile.about_user }}{% else %}tell about yourself{% endif %}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="file_upload">Download avatar</label>
                    <input type="file" class="form-control-file" name="photo" id="file_upload">
                </div>
        
                <button class="btn btn-primary btn-sm" type="submit">Create/Update</button>
        
            </form>

        </div>
        <div class="col-6">
            <div class="mb-4">
                <a class="btn btn-primary btn-block btn-sm" href="{% url 'create_test_page' %}">Create test</a>
            </div>
            <h4>List of your created test</h4>
            <ul>
                {% for tests in tests_list %}
                    <li>
                        {{ tests }}
                    </li>
                {% endfor %}
            </ul>
            <div class="alert alert-warning" role="alert">
                If You not see created test, it's means that number of questions is less than 5!!!!
            </div>
        </div>
    </div>

{% endblock %}