{% extends 'base.html' %}

{% block title %} All tests list {% endblock %}

{% block content %}
    <div class="row">
    <div class="col-12 mb-5">

        <form class="form-inline my-2 my-lg-0" action="{% url 'search_page' %}" method="get">
            <input required class="form-control mr-sm-2" name="search" type="text" value="" placeholder="search..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
        <div class="col-6">
            <h4>All tests list</h4>

            <ul>
                {% for test in all_tests_list %}
                    <li class="mb-3">
                        <a href="{% url 'test_page' pk=test.id %}" class="">
                            <span class="pr-4">{{ test.title }}</span>
                            <small class="pr-4">{{ test.date|date:'d-m-y' }}</small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <h4>Passed tests list</h4>
            <ul>
                {% for passed in passed_tests_list %}
                    <li class="mb-3">
                        <a href="{% url 'test_page' pk=passed.id %}" class="">
                            <span class="pr-4">{{ passed.title }}</span>
                            <small class="pr-4">{{ passed.date|date:'d-m-y' }}</small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <h4>Tests denied</h4>
            <ul>
                {% for passed in tests_denied %}
                    <li class="mb-3">
                        <span class="pr-4">{{ passed.title }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}